# .env
DEBUG=true
LOG_LEVEL=DEBUG
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=preview
POSTGRES_PASSWORD=this_is_a_password
POSTGRES_DB=preview_platform
REDIS_HOST=localhost
REDIS_PORT=6379
GITHUB_WEBHOOK_SECRET=
# Worker / preview environment settings (only needed when running the Celery worker)
ARGOCD_SERVER=
ARGOCD_TOKEN=
GITHUB_TOKEN=
GITHUB_REPOSITORY=robin-replat/SnapEnv
PREVIEW_DOMAIN=localhost
HELM_CHART_PATH=infra/helm/snapenv
