# Temporary folder
temporary/

# Python environment / files
__pycache__/
*.pyc
.venv/
*.egg-info/
.coverage
coverage.xml
htmlcov/

# Gerenal caches
.mypy_cache
.pytest_cache
.ruff_cache

# Environment variables
.env

# Others
.vscode
